 .title{
    text-align: center;
    font-size: 50px;
 }
 .image-container{
    display: flex;
    justify-content: center;
    
 }
 .penguin-image{
    width: 300px;
    height: 300px;
    border-color: black;
    border-width: 5px;
    border: solid;
    border-radius: 10px;
 }
 .list-header{
    margin-left: 20px;
 }
 .list-item{
    font-size: 20px;
 }
 .about-me{
    font-size: 25px;
 }
 .button{
    width: 300px;
    height: 100px;
    background-color: lightcoral;
    color:white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border-color: #C73B1D;
 }
 ul{
    display: flex;
    justify-content: space-around;
 }
 body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('images/background.jpg');
    background-size: contain;
    /* these are defaults but you can import fonts from google for free @fonts.google.com! */
 }
 